extends layout

block content
  h1= title
  - let hunting=[{hunting_item:"Rifle", hunting_item_price:"800.00", hunting_item_quantity:"2"},{hunting_item:"Binoculars", hunting_item_price:"150.00", hunting_item_quantity:"1"},{hunting_item:"Bow", hunting_item_price:"800.00", hunting_item_quantity:"1"}]
    
    div(class="container-fluid mt-3")
    div(class="row")
        each hunting, index in hunting
          div(class="col-sm-3 bg-primary m-2 p-4") #{hunting.hunting_item} - #{hunting.hunting_item_price} - #{hunting.hunting_item_quantity}